.output .code-css {
  display: flex;
  flex-direction: column;
}

.output .code-css span {
  display: block;
  color: #333;
  margin-bottom: 10px;
}

@media only screen and (max-width: 400px) {
  .output .code-css span {
    font-size: 0.8rem;
  }
}
